<div class="university__container">
    <div class="university-list" *ngFor = "let university of universities">
        <h3 class="uni__title">
            <a [title] = "university.name">
                {{ university.name }}
            </a>
        </h3>
        <div class="uni__pic">
            <img src={{university.img}} class="pic" alt="">
        </div>
        
        <button class="info" type="button" (click)="moreInfo(university.url)">
            More Info
        </button>
    </div>
</div>

