*{
  color: black;
}

.uni__title{
  margin: 10px 0 25px
}


.uni__pic{
    padding: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin: 0 auto 25px;
}
.university__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px;
}
.university {
  width: 24%;
  margin-right: auto;
}

.university-list{
  font-size: 25px;
  width: 100%;
  height: 300px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  margin-bottom: 30px;
}

.university-list .btn{
  height: 30px;
}