<div class="university__container">
    <a [routerLink]="['/universities', university.id]" *ngFor = "let university of universities" class="university">
    <div class="university-list box">
        
        <h3 class="uni__title">
            <a [title] = "university.name">
                {{ university.name }}
            </a>
        </h3>
        <div class="uni__pic">
            <img src={{university.img}} class="pic" alt="">
        </div>
        
        
        <button class="btn bold" type="button" (click)="moreInfo(university.url)">
            University Website
        </button>
        
    </div>
</a>
</div>

