*{
  color: black;
}

.uni__title{
  margin: 10px 0 25px
}


.uni__pic{
    padding: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin: 0 auto 25px;
}
.university__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px;
}
.university {
  width: 24%;
  margin-right: auto;
}

.university-list{
  font-size: 25px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 100%;
  height: 300px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  margin-bottom: 30px;
}

.info{
  width: 33%;
  border: none;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 3px;
  font-weight: 600;
}