<div class="teacher__container">
<div class="teacher" *ngFor = "let teacher of teachers">

        <div class="teacher__pic">
            <img src={{teacher.img}} class="pic circle__pic">
        </div>
        <h3 class="teacher__name">
            <a [title] = "teacher.fullname">
                {{ teacher.fullname }}
            </a>
        </h3>
        <p>{{teacher.university}}</p>
        <div class="teacher__rating">
            {{teacher.rating}}
              <ngx-star-rating [id]="'rating'" [disabled]='true'></ngx-star-rating>
        </div>
        <button class="teacher__link" type="button" (click)="LinkedIn(teacher.url)">
            LinkedIn
        </button>
</div>
</div>



