*{
  color: black;
}
.details{
  text-decoration: none;
}

.teacher{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding: 20px 10px;
  width: 24%;
  height: 370px;
  margin: auto;
}

.teacher__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
}

.teacher__name{
  margin-bottom: 10px;
}

.teacher__pic{
  padding: 3px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.teacher__rating{
  align-self:flex-start;
  margin-left: 50px;
  margin-bottom: 20px;
}

.teacher .btn{
  font-size: 20px;
}
.teacher__link{
  width: 40%;

  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
