*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body{
  font-size: 20px;
  background: #fff;
}

.pic{
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.circle__pic{
  border-radius: 50%;
}

/* ================header=============== */

app-top-bar {
  padding: 30px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(69, 96, 252);
}