*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body{
  font-size: 20px;
  background: #fff;
}

/* ================header=============== */

app-top-bar {
  padding: 30px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(69, 96, 252);
}
