<div class="uni__profile">
    <div class="university" *ngIf="uni">
        <div class="container">
            <div class="uni__inner">
                <div class="uni__leftcol">
                    <div class="uni__card">
                        <div class="uni__img">
                            <img class="pic" src={{uni.img}}>
                        </div>
                        <hr class="separator">
                        <div class="uni__name bold">
                            {{uni.name}}
                        </div>
                    </div>
                    <button class="btn semibold" routerLink="/universities/{{uni.id}}/teacher">See Teachers</button>
                </div>
                <div class="uni__content">
                    <h2 class="uni__title semibold">University Overview</h2>
                    <div class="uni__info regular">
                        {{uni.description}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


