.header__button{
  color: white;
  border: none;
  background: transparent;
  font-size: 20px;
  padding: 0;
  justify-self: baseline;
}

.header__nav{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 700;
}

.header__nav > *{
  margin-right: 50px;
  color: white;
}

.logo{
  font-size: 20px;
}
