<div class="home">
  <div class="home__container">
    <div class="home__inner">
      <div class="home__text">
        <div class="home__title">
          <h1>Real Students, Real Ratings</h1> 
          <h2>Finding the Best Professors at<br> Your University</h2>
        </div>
      </div>

      <ng-container *ngIf="!logged">
        <fieldset class="login__form">
          <div class="login__inner">
            <h2 class="login__title">Login</h2>
            <div class = "login__inputs">
                <input type="text" [(ngModel)]="username" placeholder="username">
                <input type="password" [(ngModel)]="password" placeholder="password">
            </div>
            <button (click)="login()" class="btn" >login</button>
          </div>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="logged">
        <fieldset class="logout__form">
          <h2 class="logout__title">You are successfully logged on!</h2>
          <div class="logout">
            <button class="btn" (click)="logout()">Log out</button>
          </div>
        </fieldset>
      </ng-container>
  </div>
</div>
