
.home{
  background-image: url(src\home_pic.jpg);
  background-size: cover;
  height: 100%;
}

.home__container{
  padding: 200px 150px 0;
  height: 100vh;
  backdrop-filter: brightness(70%);
  backdrop-filter: blur(1px);
}

.home__title{
  margin-right: auto;
  font-size: 1.5em;
  color: white;
}

.home__text{
  padding:5px;
  width: 730px;
  border: none;
  border-radius: 8px;
}

.home__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login__form{
  background-color: #fff;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

  padding: 5px;
  height: 300px;
  width: 35%;
}